<h4>添加一个新的留言</h4>
<form action="/add">
  <div class="form-group">
    <label for="authorInput">您的姓名(至少2个字)</label>
    <input type="text" name="author" class="form-control" id="authorInput">
  </div>
  <div class="form-group">
    <label for="messageInput">留言内容(至少10个字)</label>
    <textarea name="message" id="messageInput" cols="30" rows="5" class="form-control" ></textarea>
  </div>
  <div class="pull-right">
    <input type="submit" value="提交" class="btn btn-primary">
  </div>
</form>